.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    gap: 40px;
}

.footer a{
    color: aliceblue;
    text-decoration: none;
    transition: 0.3s;
}

.footer a:hover{
    color:grey;

}